{% extends 'base_customer.html' %}

{% block content %}
<!--
<br>
<a class = "button" href="{% url 'update_customer' cust.username %}">Update Customer</a>
<br>
<a class = "button" href="{% url 'add_stock' cust.username %}">Add stock</a>
<br>
<br>
<a class = "button" href="{% url 'product_log' cust.username %}">View log</a>
<br>
<br>
<a class = "button" href="{% url 'checkout' cust.username %}">Checkout stock</a>

-->
<style>
    .btn {
  border: 2px solid black;
  background-color: rgb(240, 231, 103);
  color: black;
  padding: 7px 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
}
.info {
  border-color: #2196F3;
  color: dodgerblue;
}
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      border: 3px solid black;
      border-radius: 10px;
      background-color: rgb(202, 173, 173);
      width: 60%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      border: 1.1px solid black;

    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }

.button4 {background-color: #a07878; color: black;}
    </style>
<body>

<h1>Customer:  </h1>

<br><br>
<a class = "btn info" href="{% url 'GeneratePDF3' cust.username %}">Take print</a>
<br><br>
<table class="table">
    <tr>
        <th>Name</th>
        <th>phone</th>
        <th>Username</th>    
        <th>Email</th>
        <th>Address</th>    
        <th>Added by employee(username)</th>    
    </tr>

    
        <tr>
            <td>{{cust.name}}</td>            
            <td>{{cust.phone}}</td>
            <td>{{cust.username}}</td>
            <td>{{cust.email1}}</td>
            <td>{{cust.address}}</td>
            <td>{{cust.employee.username}}</td>            
        </tr>
    
    
</table>

<br>
<br>
{{z}}
<h1>Stock:  </h1>
<table class="table">
    <tr>
        <th>Name</th>
        <th>variety name</th>
        <th>quantity</th>    
        <th>quantity unit</th>      
        <th>Added on: </th>
        <th>Price per unit</th>   
        <th>added by employee: </th>   

    </tr>

    {% for i in products %}
        <tr>
            <td>{{i.product.name}}</td>            
            <td>{{i.variety_name}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.product.quant_type}}</td>        
            <td>{{i.created_at}}</td>
            <td>{{i.price_per_unit}}</td>
            <td>{{i.employee_added.username}}</td>  
        </tr>
    {% endfor %}
    
</table>
<br>
<br>
<br>

    


</body>




{% endblock %}